
html,body{
	padding:0px;
	margin:0px;
	background-color: #f2f2f2;
}
button{
	background-color:#282828;
	width:100px;
	height:30px;
	border:none;
	color:#fff;
	font-family:arial;
	font-weight:400;
	cursor:pointer;
}
.error {
	color:#3b589c ;
	}

form{
	margin:auto;
 
     width: 500px;
	border-radius: 5px;    
    padding: 20px;
}
input[type=text] ,input[type=password] ,input[type=number]{
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	 border-radius: 5px;
}
input[type=text]:focus {
   background-color: #f8f8f8;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
textarea{
	height:80px;
	width:400px;
	resize:none;
	background-color:#fff;
}
label{
	    font-family:Sans-Serif;
    font-size: 1.17em;
    font-weight: bold;
	
}